<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans      
                        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd      
                        http://www.springframework.org/schema/context      
                        http://www.springframework.org/schema/context/spring-context-4.2.xsd      
                        http://www.springframework.org/schema/mvc      
                        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">
	<!-- ============1.定时任务========== -->
	<bean id="ipAndPortResourcesJob"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.xgd.resources.quartz.IpAndPortResourcesJob"></property>
	</bean>
	<!-- ==========2.触发器============ -->
	<bean name="simpleTrigger"
		class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
		<property name="jobDetail" ref="ipAndPortResourcesJob"></property>
		<!-- 调度工厂实例化后，经过0秒开始执行调度，单位毫秒 -->
		<property name="startDelay" value="0"></property>
		<!-- 每次调度间隔时间，间隔1秒，单位毫秒 -->
		<property name="repeatInterval" value="1000"></property>
	</bean>
	<!-- ===================3.调度工厂============== -->
	<bean name="jobFactory" class="com.xgd.resources.quartz.JobFactory"></bean>
	<bean name="springJobSchedulerFactoryBean"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobFactory" ref="jobFactory"/>
		<property name="triggers">
			<list>
				<ref bean="simpleTrigger" />
			</list>
		</property>
	</bean>
</beans> 